@model Assi_Final_Web.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
